* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
}

body{
    overflow-x: hidden;
}

#page1{
    height: 100%;
    width: 100%;
    background-color: rgb(33, 118, 133);
    display: flex;
    align-items: center;
    justify-content: center;
}

#page2{
    height: 100%;
    width: 100%;
    background-color:crimson;   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

#page3{
    height: 100%;
    width: 100%;
    background-color: #192841;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5vw;
}

#box{
    height: 200px;
    width: 200px;
    background-color: black;

}

/* h1{
    font-size: 50Px;
    position: relative;
    background-color: rgb(0, 0, 0);
} */

h2{
    font-size: 50Px;
    position: relative;
    background-color: rgb(2, 24, 44);
}

#page3 h1{
    /* margin: 10%, 30%; */
    font-size: 40vw;
    font-weight: 500;
    text-transform: uppercase;
    /* transform: translateX(-20%); */
}